#Background
{
    z-index: -9999;
    position: fixed;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    left: 0px;
    top: 0px;
}
#ItemContainer
{
    display: flex;
    flex-direction: column;
    width: calc(60% - 20px);
    margin: 0 5px;
    left: 0px;
}
#NewsContainer
{
    position: sticky;
    display: flex;
    flex-direction: column;
    width: calc(40% - 20px);;
    border: 3px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    height: 90vh;
    margin: 0 5px;
    right: 0px;
    top: 50px;
    background-color: white;
}
#BaseContainer
{
    display: flex;
    width: 95%;
    justify-content: center;
    margin: 50px auto;
}
.Item
{
    display: flex;
    width: 100%;
    height: 70px;
    border: 3px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    margin-top: 10px;
    align-items: center;
    background-color: white;
    
}
.Item #Image
{
    width: 60px;
    height: 60px;
    border: 3px;
    border-radius: 100%;
    border-style: solid;
    overflow: hidden;
    
    margin-left: 10px;
}
.Item #Image #ImageIMG
{
    width: 70px;
    height: 70px;
}
.Item #SiteLink
{
    width: calc(100% - 80px);
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 auto;
    max-width: 75%;
}
#FirstItem
{
    margin-top: 0px;
}
#NewsText
{
    width: 100%;
    text-align: center;
    height: 50px;
    font-size: 40px;
}
#NewsTextMain
{
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    height: 60px;
    border: 1px black solid;
}
#BaseText
{
    margin-left: 15px;
    margin-top: 10px;
}
#Date
{
    position: absolute;
    bottom: 0px;
    right: 10px;
}
